@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&family=Red+Hat+Display:wght@300&display=swap');
body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(47.5% 82.73% at 14.37% 26.95%, rgba(178, 27, 226, 0.2) 0%, rgba(178, 27, 226, 0) 100%),#050104; 
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.glass {
  background: linear-gradient(106.6deg, rgba(126, 126, 126, 0.4) 1.44%, rgba(126, 126, 126, 0) 108.41%);;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.19501px);
  /* -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}